
<section class="calculator">

    <div class="calculator-init">

        <div class="frame-display">

            <img src="dist/img/backspace.svg" class="backspace" title="Backspace" alt="Backspace">

            <div class="real-display">
                <div class="history-digits">
                    10+32
                </div>
                <div class="current-digits">
                    572
                </div>

            </div>
        </div>

        <ul class="frame-top-operators">
            <li>÷</li>
            <li>×</li>
            <li>-</li>
            <li>+</li>
        </ul>

        <ul class="digits-commom-line">
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>(</li>
        </ul>
        <ul class="digits-commom-line">
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>)</li>
        </ul>

        <ul class="digits-small-line">
            <li>3</li>
            <li>2</li>
            <li>1</li>
        </ul>

        <ul class="digits-small-line last-line">
            <li class="double-x">0</li>
            <li>.</li>
        </ul>

        <div class="operator-equal">=</div>

    </div>

</section>
